.form {
    max-width: 385px;
    border-radius: 4px;
  }

  .form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  .form__label {
    margin-bottom: 32px;
    display: block;
  }

  .form__label_type_checkbox {
    display: flex;
    justify-content: center;
    border-radius: 2px;
  }
  .form__input {
    display: block;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin-top: 8px;
    height: 60px;
  }

  .form__button {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    border-radius: 4px;
    height: 60px;
    background-color: #2F80ED;
    color: #FFFFFF;
  }

  .form__checkbox {
    height: 20px;
    width: 20px;
    margin-right: 12px;
    font-family: Inter, Arial, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }